/* /* h1{
    color: green;
} */
/* 
.heading{
    color:red ;
}

button{
    background-color: green;
}

#box{
    background-color: blue;
} */
 
/* *{
    background-color: rgb(95, 95, 215);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align:center;
    text-transform: capitalize;
}

p{
    text-transform:capitalize;
    border: 2px solid brown ;
   
}

#outer{
    font-size: 25px;
    border: 2px solid brown;
    background-color: darkolivegreen;
    width: 150px;
    height: 150px;
    padding: 50px;
    
}

#inner{
    font-size: 10px;
}


#name{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px black solid;
    border-radius: 50%;
}

#box{
    height: 200px;
    width: 100px;
    background-color: black;
    border: 2px solid white;
    
}

#c1{
    height:50px ;
    width: 50px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
   

}

#c2{
    height:50px ;
    width: 50px;
    background-color:yellow;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
   
}
#c3{
    height:50px ;
    width: 50px;
    background-color: green;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
   
}

#rec{
    width: auto;
    height: 50px;
    background-color: black;
    border: 5px rgb(161, 118, 38) solid ;
}
#logo{
    text-align: left;
    text-transform: lowercase;
    color: rgb(231, 158, 24);
    font-weight: bold;
}
.engines{
    color: white;
    text-transform: capitalize;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: lighter;
}
button{
    background-color: orange;
    color: white;
}
#search{
    background-color: white;
    color: grey;
}
 */ 

/* *{
    padding: 0px;
    margin: 0px;

}

#navbar{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    height: 60px;
    

}
button{
    color: white;
    background-color: #f08804;
}
a{
    text-transform: capitalize;
    margin-right: 200px;
    color: white;
    text-decoration: none;
}


#logo{
    text-transform: lowercase;
    color: #f08804;
    height: 25px;
    text-decoration: none;

} */
/* content{
    height: 100px;
    width: 100px;
}  */



/* div{
    height:300px;
    width:300px;
    background-image: url(lovenature.jpg);
    background-size: cover;
    position:fixed;
    right: 0%;
} */

/* body{
    text-align: center;
}
h1{
    text-align: center;
}
div{
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    height: 300px;
    width:500px;
    

}


#box1{
    background-color: rgb(255,0,0,0.5);
    height: 100px;
    width: 100px;


}
#box2{
    background-color: rgb(0,255,0,0.5);
    height: 100px;
    width: 100px;

}
#box3{
    background-color: rgb(0,0,255,0.5);
    height: 100px;
    width: 100px;

}
#box4{
    background-color:pink;
    height: 100px;
    width: 100px;

} */

/* div{
    border: 2px solid black;
    display: inline-block;
}
#container{
    border: 2px solid black;
    height: 60px
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

    
} */
 
/* #box1{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
    flex-direction: row; */
    /* justify-content:center; horizontal main */
    /* align-items: center;    /*vertical cross(align uses cross) */
                              /* align self(individual) has higher priority than align items(container)*/ 
    




/* #box2{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.44);
    border: 2px solid black;
   
}
@media(min-width: 200px) and (max-width:  300px){
    #box2{
        background-color: red;
    }
        
}
 */

     
        
    
    
/* #box3{
    height: 100px;
    width: 100px;
    background-color: rgba( 0,255, 0, 0.44);
}
#box4{
    height: 100px;
    width: 100px;
    background-color: rgba( 0, 0,255, 0.44);
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px black solid;
    
}
@media(max-width:300px ){
    div{
        background-color: green;
    }
}

@media(min-width:300px)and (max-width:400px) {
    div{
        background-color:pink;
    }
}
@media(min-width:400px)and (max-width:600px) {
    div{
        background-color:red;
    }
}
@media(min-width:600px ){
    div{
        background-color: blue;
    }
}
 */

 div{
    height: 200px;
    width: 200px;
    border: 20px solid aquamarine;
    border-radius: 50%;
    border-top: 20px solid black;
    
    /* animate shorthand
    animation:name duration style timing delay itr count direction */
    animation:spinanimate infinite ease-in 10s 0s;

 }


 @keyframes spinanimate {
    from{transform: rotate(0deg);}
    to{transform: rotate(3600deg);}

 }